<div class="w-[100vw] h-[93vh] grid place-items-center">
  <form class="example-form">
    <h3 class="text-center">Registrar Elemento</h3>
    <mat-form-field class="example-full-width">
      <mat-label>Nombre elemento</mat-label>
      <input matInput placeholder="Ex. Pizza" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Descripcion Elemento</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
    <button class="btn w-[100%]" mat-raised-button color="primary">Guardar</button>
  </form>
</div>
